@import "../../style/main.scss";

@mixin todo-input-field($class-name, $dark-mode: false) {
  input.#{$class-name} {
    width: 545px;
    height: 60px;
    padding-left: 70px;

    cursor: text;

    font-family: $font-family;

    border-radius: $border-radius;
    border: none;

    color: if(
      $dark-mode,
      $dark-theme-light-grayish-blue,
      $very-dark-grayish-blue
    );
    font-size: $font-size-large;
    font-weight: $font-weight-regular;
    caret-color: $bright-blue;

    background-color: if(
      $dark-mode,
      $dark-theme-very-light-desaturated-blue,
      none
    );

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: $dark-grayish-blue;
    }
  }

  @include mobile {
    input.#{$class-name} {
      width: 250px;
    }
  }
}

.todo-input {
  position: relative;

  @include todo-input-field("todo-input-field");
  @include todo-input-field("todo-input-field-dark-mode", $dark-mode: true);
}
