@import "../../style/main.scss";

.todo-input {
  position: relative;

  input.todo-input-field {
    width: 545px;
    height: 50px;

    border-radius: $border-radius;
    border: none;
    color: $very-dark-grayish-blue;
    font-size: $font-size-large;
    font-weight: $font-weight-bold;
    padding-left: 70px;
    caret-color: $bright-blue;

    &:focus {
      outline: none;
    }
  }
}
