@import "../../style/main.scss";

.todo-check-mark {
  @include check-mark-btn-style($top: 18px, $left: 20px);

  &-checked {
    @include check-mark-btn-style($top: 18px, $left: 20px, $checked: true);
  }
}

.todo-check-mark-dark-mode {
  @include check-mark-btn-style($top: 18px, $left: 20px, $dark-mode: true);
  &-checked {
    @include check-mark-btn-style(
      $top: 18px,
      $left: 20px,
      $checked: true,
      $dark-mode: true
    );
  }
}
