@mixin check-mark-btn-style($top, $left, $checked: false, $dark-mode: false) {
  position: absolute;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  top: $top;
  left: $left;
  z-index: 1;
  cursor: pointer;

  border: 1px solid
    if(
      $dark-mode,
      $dark-theme-very-dark-grayish-blue-light,
      $light-grayish-blue
    );

  background-image: if(
    $checked,
    (url("../../asset/image/icon/icon-check.svg"), $check-background),
    none
  );
  background-repeat: if($checked, no-repeat, none);
  background-position: if($checked, center, none);

  @if not $checked {
    &:hover {
      background-image: url("../../asset/image/icon/check-btn-border.svg");
      border: none;
    }
  }
}

@mixin todo-footer-btn-style(
  $selected: false,
  $hover: true,
  $clickable: true,
  $dark-mode: false
) {
  font-weight: $font-weight-bold;
  font-size: $font-size-medium;
  cursor: default;
  background-color: transparent;
  border: none;

  color: if(
    $dark-mode,
    if($selected, $bright-blue, $dark-theme-dark-grayish-blue),
    if($selected, $bright-blue, $dark-grayish-blue)
  );

  @if ($clickable) {
    &:hover {
      cursor: pointer;
    }
    &:active {
      color: $bright-blue;
    }
  }

  @if (not $selected and $hover) {
    &:hover {
      cursor: pointer;
      color: if(
        $dark-mode,
        $dark-theme-dark-grayish-blue-hover,
        $very-dark-grayish-blue
      );
    }
  }
}
