@use "../base/font";
@use "../utils/media";

button {
  font-family: inherit;

  &:hover {
    cursor: pointer;
  }

  -webkit-tap-highlight-color: transparent;
}

@mixin primary {
  background-color: transparent;
  border: none;
  color: var(--color-primary);
  font-weight: font.$weight-bold;
  font-size: font.$size-medium;

  @include media.hover {
    color: var(--color-primary-dark);
  }
}

@mixin primary-clicked {
  @include primary;
  color: var(--color-btn-selected);

  @include media.hover {
    color: var(--color-btn-selected);
  }
}

@mixin _checkmark {
  background-color: var(--color-primary);
  border-radius: 50%;
  border: none;
  height: 20px;
  width: 20px;
}

@mixin checkmark {
  @include _checkmark;

  &::before {
    content: "";
    background-color: var(--color-primary-light);
    border-radius: 50%;
    bottom: 1px;
    left: 1px;
    position: absolute;
    right: 1px;
    top: 1px;
  }

  @include media.hover {
    background: var(--color-gradient);
  }
}

@mixin checkmark-clicked {
  @include _checkmark;

  background: var(--color-gradient);

  &::before {
    content: "";
    background-image: url("../../assets/icons/icon-check.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 45%;
    height: inherit;
    left: 0;
    position: absolute;
    top: 0;
    width: inherit;
  }
}
