@use "../base/font";
@use "../utils/media";

button {
  font-family: inherit;

  &:hover {
    cursor: pointer;
  }

  -webkit-tap-highlight-color: transparent;
}

@mixin primary {
  background-color: transparent;
  border: none;
  color: var(--color-primary);
  font-weight: font.$weight-bold;
  font-size: font.$size-md;

  @include media.hover {
    color: var(--color-primary-dark);
  }
}

@mixin primary-clicked {
  @include primary;
  color: var(--color-btn-selected);

  @include media.hover {
    color: var(--color-btn-selected);
  }
}

@mixin _checkmark {
  border-radius: 50%;
  border: none;
  height: 20px;
  width: 20px;
}

@mixin checkmark {
  @include _checkmark;

  background-color: var(--color-primary-light);
  border: 2px solid var(--color-primary);

  @include media.hover {
    background: var(--color-gradient);
    border: none;

    &::before {
      content: "";
      background-color: var(--color-primary-light);
      border-radius: 50%;
      bottom: 2px;
      left: 3px;
      position: absolute;
      right: 2px;
      top: 3px;
    }
  }
}

@mixin checkmark-clicked {
  @include _checkmark;

  background: url("../../assets/icons/icon-check.svg") no-repeat center/45%,
    var(--color-gradient);
}
