@mixin todo-helper-msg-style($dark-mode: false) {
  color: if(
    $dark-mode,
    $dark-theme-very-dark-grayish-blue-light,
    $dark-grayish-blue
  );

  font-size: $font-size-medium;
  font-weight: $font-weight-regular;
  cursor: default;
}
