@use "../base/font";

input {
  padding: 0;
  margin: 0;

  font-family: inherit;
}

@mixin primary {
  border-radius: 4px;
  border: none;
  caret-color: var(--color-tertiary-dark);
  color: var(--color-primary-very-dark);
  font-size: font.$size-large;
  font-weight: font.$weight-regular;

  background-color: var(--color-primary-very-light);

  &:focus {
    outline: none;
  }

  &::placeholder {
    color: var(--color-primary-dark);
  }
}
