@use "../../style/base/font";

.todoList {
  background-color: var(--color-primary-light);
  border-radius: 4px;
  box-shadow: 0px 20px 20px 0px var(--color-shadow);
  font-size: font.$size-md;
  font-weight: font.$weight-regular;
  width: 100%;
}

.todos {
  max-height: 40vh;
  overflow-y: auto;
  overflow-x: hidden;
}
