@use "../../style/base/font";

.todos {
  background-color: var(--color-primary-light);
  border-radius: 4px;
  box-shadow: 0px 20px 20px 0px var(--color-shadow);
  font-size: font.$size-medium;
  font-weight: font.$weight-regular;
  width: 100%;
}

.todoChosen {
  opacity: 0;
}

.todoChosen svg {
  opacity: 0;
}

.ghostTodo {
  opacity: 1;
}
