@import "../../style/main.scss";

.todo-title-link {
  text-decoration: none;
  cursor: default;

  .todo-title {
    font-weight: $font-weight-bold;
    color: $very-light-gray;
    font-size: $font-size-title;
    letter-spacing: 10px;

    &:hover {
      transform: scale(1.1);
    }
  }
}
