$theme-name: "dark";

$primary-dark: hsl(236 33 92);
$primary-light: hsl(235, 24%, 19%);
$primary: hsl(116, 50%, 47%);

$bg: hsl(235 21 11);
$btn-selected: hsl(220 98 61);
$caret: hsl(228 45 44);
$error: hsl(0 100 40);
$gradient: linear-gradient(to bottom right, hsl(192 100 67), hsl(280 87 65));
$shadow: hsl(235 21 8);
$title: hsl(255 100 100);

.#{$theme-name} {
  --color-primary-dark: var(
    --imported-#{$theme-name}-theme-color-primary-dark,
    #{$primary-dark}
  );
  --color-primary-light: var(
    --imported-#{$theme-name}-theme-color-primary-light,
    #{$primary-light}
  );
  --color-primary: var(
    --imported-#{$theme-name}-theme-color-primary,
    #{$primary}
  );

  --color-bg: var(--imported-#{$theme-name}-theme-color-bg, #{$bg});
  --color-btn-selected: var(
    --imported-#{$theme-name}-theme-color-tertiary-dark,
    #{$btn-selected}
  );
  --color-caret: var(--imported-#{$theme-name}-theme-color-caret, #{$caret});
  --color-error: var(--imported-#{$theme-name}-theme-color-tertiary, #{$error});
  --color-gradient: var(
    --imported-#{$theme-name}-theme-color-btn-hover,
    #{$gradient}
  );
  --color-shadow: var(
    --imported-#{$theme-name}-theme-color-tertiary,
    #{$shadow}
  );
  --color-title: var(--imported-#{$theme-name}-theme-color-tertiary, #{$title});

  --bg-desktop: url("../../assets/images/bg-desktop-dark.jpg");
  --bg-mobile: url("../../assets/images/bg-mobile-dark.jpg");
}

:export {
  #{$theme-name}: #{$theme-name};
}
