$theme-name: "dark";

$c1: hsl(235, 21%, 11%);
$c2: hsl(235, 24%, 19%);
$c3: hsl(234, 39%, 85%);
$c4: hsl(236, 33%, 92%);
$c5: hsl(234, 11%, 52%);
$c6: hsl(233, 14%, 35%);
$c7: hsl(237, 14%, 26%);

$primary-light: hsl(237, 14%, 26%);
$primary-dark: hsl(236 9 61);
$primary-very-light: hsl(235, 24%, 19%);
$primary-very-dark: hsl(235 19 35);
$secondary-very-light: hsl(235, 21%, 11%);
$secondary-light: hsl(0 0 98);
$tertiary: hsl(220 98 61);
$tertiary-dark: hsl(228 45 44);

$background: linear-gradient(to bottom right, hsl(192 100 67), hsl(280 87 65));
$error: hsl(0 100 40);

$white: white;
$black: black;

.#{$theme-name} {
  --color-primary-light: var(--imported-color-primary-light, #{$primary-light});
  --color-primary-dark: var(--imported-color-primary-dark, #{$primary-dark});
  --color-primary-very-dark: var(
    --imported-color-primary-very-dark,
    #{$primary-very-dark}
  );
  --color-primary-very-light: var(
    --imported-color-primary-very-light,
    #{$primary-very-light}
  );

  --color-secondary-very-light: var(
    --imported-color-secondary-very-light,
    #{$secondary-very-light}
  );
  --color-secondary-light: var(
    --imported-color-secondary-light,
    #{$secondary-light}
  );

  --color-tertiary: var(--imported-color-tertiary, #{$tertiary});
  --color-tertiary-dark: var(--imported-color-tertiary-dark, #{$tertiary-dark});

  --color-error: var(--imported-color-error, #{$error});
  --color-background: var(--imported-color-background, #{$background});

  --bg-desktop: url("../../assets/images/bg-desktop-dark.jpg");
  --bg-mobile: url("../../assets/images/bg-mobile-dark.jpg");
}

:export {
  #{$theme-name}: #{$theme-name};
}
