@use "../utils/media";

footer {
  align-items: center;
  display: flex;
  gap: 5px;
  justify-content: center;
  position: absolute;
  top: 95vh;
  width: 100%;
}

@include media.mobile {
  footer {
    flex-direction: column;
  }
}
