@use "../utils/media";

footer {
  align-items: flex-end;
  display: flex;
  gap: 5px;
  justify-content: center;
  width: 100%;
  height: 10vh;
}

@include media.mobile {
  footer {
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
  }
}
