@use "../utils/media";

:root {
  --header-height: 300px;
  --header-width: 100vh;
}

header {
  background-image: var(--bg-desktop);
  background-repeat: no-repeat;
  background-size: cover;
  height: var(--header-height);

  @include media.mobile {
    background-image: var(--bg-mobile);
  }
}
