.todoListItem {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .input {
    flex: 1;
    border: none;
  }

  .input:focus {
    outline: none;
  }
}

.todoListItemCompleted {
  text-decoration: line-through;
  color: lightgray;
}
