@use "../../style/components/button";
@use "../../style/components/input";
@use "../../style/utils/media";

@mixin todo-list-item-checkmark {
  margin: 0 10px 0 20px;
  position: relative;
}

.todoListItem {
  align-items: center;
  border-bottom: 1px solid var(--color-primary);
  cursor: pointer;
  color: var(--color-primary-dark);
  display: flex;
  justify-content: space-between;
  min-height: 60px;

  .input {
    @include input.primary;

    padding-left: 0;
    flex: 1;
  }

  .msg {
    flex: 1;
    padding-left: 0;

    &Completed {
      @extend .msg;

      text-decoration: line-through;
      color: var(--color-primary);
    }
  }

  .checkmark {
    @include button.checkmark;
    @include todo-list-item-checkmark;

    &Checked {
      @include button.checkmark-clicked;
      @include todo-list-item-checkmark;
    }
  }
}

@include media.mobile {
}
