.todoListItem {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .input {
    border: none;
    padding: 10px;
    background-color: yellow;
  }

  .modify {
  }
}

.todoListItemCompleted {
}
