@import "./typography";
@import "./fonts";

:root {
  --main-bg-color: var(--imported-main-bg-color, #{$very-light-grayish-blue});
}

body {
  margin: 0;
  font-family: $font-family;
  background-color: var(--main-bg-color);
}
