$primary-dark: hsl(235, 19%, 35%);
$primary-light: hsl(255 100 100);
$primary: hsl(236 9 61);

$bg: hsl(0 0 98);
$btn-selected: hsl(220 98 61);
$caret: hsl(228 45 44);
$error: hsl(0 100 40);
$gradient: linear-gradient(to bottom right, hsl(192 100 67), hsl(280 87 65));
$shadow: hsl(236 9 61);
$title: hsl(255 100 100);

:root {
  --color-primary-dark: var(--imported-color-primary-dark, #{$primary-dark});
  --color-primary-light: var(--imported-color-primary-light, #{$primary-light});
  --color-primary: var(--imported-color-primary, #{$primary});

  --color-bg: var(--imported-color-bg, #{$bg});
  --color-btn-selected: var(--imported-color-tertiary-dark, #{$btn-selected});
  --color-caret: var(--imported-color-caret, #{$caret});
  --color-error: var(--imported-color-tertiary, #{$error});
  --color-gradient: var(--imported-color-btn-hover, #{$gradient});
  --color-shadow: var(--imported-color-tertiary, #{$shadow});
  --color-title: var(--imported-color-tertiary, #{$title});
}
