@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

$family-primary: "Josefin Sans", sans-serif;

$weight-regular: 400;
$weight-bold: 700;

$size-title: 44px;
$size-large: 18px;
$size-medium: 14px;
$size-small: 11px;
