@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

$family-primary: "Josefin Sans", sans-serif;

$weight-regular: 400;
$weight-bold: 700;

$size-title: 2.75rem;
$size-xl: 2.25rem;
$size-lg: 1.125rem;
$size-md: 0.875rem;
$size-sm: 0.75rem;
