@use "./font";
@use "./color";

:root {
  --bg-desktop: url("../../assets/images/bg-desktop-light.jpg");
  --bg-mobile: url("../../assets/images/bg-mobile-light.jpg");
}

body {
  margin: 0;
  padding: 0;

  height: 100vh;

  background-color: var(--color-secondary-very-light);
  font-family: font.$family-primary;
}
