@import "../../style/main.scss";

.todo-info-helper {
  @include todo-helper-msg-style;
  &-dark-mode {
    @include todo-helper-msg-style($dark-mode: true);
  }
}

@include mobile {
  .todo-info-helper,
  .todo-info-helper-dark-mode {
    position: absolute;
    top: calc(var(--todo-list-item-length) * 70px + 210px);
    z-index: -1;
  }
}
