@import "../../style/main.scss";

.todo-menu-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  position: absolute;
  top: 30vh;

  width: 45vw;
  height: 45vh;
}
