@mixin check-mark-btn($class-name, $top, $left, $checked: false) {
  .#{$class-name} {
    position: absolute;
    border-radius: 50%;
    border: 1px solid $light-grayish-blue;
    width: 20px;
    height: 20px;
    top: $top;
    left: $left;
    z-index: 1;
    cursor: pointer;

    background-image: if(
      $checked,
      (url("../../asset/image/icon/icon-check.svg"), $check-background),
      none
    );
    background-repeat: if($checked, no-repeat, none);
    background-position: if($checked, center, none);

    @if $checked == false {
      &:hover {
        background-image: $check-background;
        border: none;
        transform: scale(1.1);

        &:before {
          content: "";
          position: absolute;
          top: 1px;
          right: 1px;
          bottom: 1px;
          left: 1px;
          background-color: $white;
          border-radius: 50%;
        }
      }
    }
  }
}
