@mixin todo-footer-btn(
  $class-name,
  $selected: false,
  $hover: true,
  $clickable: true,
  $dark-mode: false
) {
  .#{$class-name} {
    font-weight: $font-weight-bold;
    font-size: $font-size-medium;
    cursor: default;
    background-color: transparent;
    border: none;

    color: if(
      $dark-mode,
      if($selected, $bright-blue, $dark-theme-dark-grayish-blue),
      if($selected, $bright-blue, $dark-grayish-blue)
    );

    @if ($clickable) {
      &:hover {
        cursor: pointer;
      }
      &:active {
        color: $bright-blue;
      }
    }

    @if (not $selected and $hover) {
      &:hover {
        cursor: pointer;
        color: if(
          $dark-mode,
          $dark-theme-dark-grayish-blue-hover,
          $very-dark-grayish-blue
        );
      }
    }
  }
}
