@import "../../style/main.scss";

@include check-mark-btn("todo-check-mark", 18px, 20px);
@include check-mark-btn("todo-check-mark-checked", 18px, 20px, $checked: true);

@include check-mark-btn(
  "todo-check-mark-dark-mode",
  18px,
  20px,
  $dark-mode: true
);
@include check-mark-btn(
  "todo-check-mark-checked-dark-mode",
  18px,
  20px,
  $checked: true,
  $dark-mode: true
);
