@import "../../style/main.scss";

@mixin weather($bg-color, $color) {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 30px;
  position: absolute;
  top: 60px;
  left: 60px;
  width: 300px;
  height: 130px;
  border-radius: 10px;
  padding: 10px;
  font-size: $font-size-large;
  font-weight: $font-weight-regular;
  background-color: fade-out($bg-color, 0.4);
  color: $color;

  transition: top 0.5s linear;

  .weather-current-loader {
    align-self: center;
  }

  .weather-current-info-main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .weather-current-temperature-container {
      display: flex;
      flex-direction: row;
      font-size: $font-size-title;

      .weather-current-unit-btn {
        font-size: $font-size-large;
        cursor: pointer;
        padding: 0px;
        padding-bottom: 28px;
        color: $color;
        background-color: transparent;
        border: none;
        &:hover {
          transform: scale(1.2);
        }
      }
    }
  }
}

@mixin weather-mobile {
  top: 520px;
  transition: top 0.5s linear;
}

.weather-current {
  @include weather(
    $bg-color: $very-light-grayish-blue,
    $color: $very-dark-grayish-blue
  );

  &-dark-mode {
    @include weather(
      $bg-color: $dark-theme-very-dark-blue,
      $color: $dark-theme-light-grayish-blue
    );
  }
}

@media only screen and (max-width: 1390px) {
  .weather-current {
    @include weather-mobile;

    &-dark-mode {
      @include weather-mobile;
    }
  }
}
