@import "../../style/main.scss";

@mixin todo-list-item($class-name, $dark-mode: false) {
  .#{$class-name} {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

    list-style: none;

    padding-left: 70px;
    height: 60px;

    color: if(
      $dark-mode,
      $dark-theme-light-grayish-blue,
      $very-dark-grayish-blue
    );
    font-size: $font-size-large;
    font-weight: $font-weight-regular;

    &-completed {
      @extend .#{$class-name};
      color: if(
        $dark-mode,
        $dark-theme-very-dark-grayish-blue-light,
        $light-grayish-blue
      );
      text-decoration: line-through;
    }
  }
}

@include todo-list-item("todo-list-item");
@include todo-list-item("todo-list-item-dark-mode", $dark-mode: true);
