@import "../../style/main.scss";

.todo-list-item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;

  list-style: none;

  padding-left: 70px;
  height: 60px;

  color: $very-dark-grayish-blue;
  font-size: $font-size-large;
  font-weight: $font-weight-regular;

  &-completed {
    @extend .todo-list-item;
    color: $light-grayish-blue;
    text-decoration: line-through;
  }
}
