@import "../../style/main.scss";

@mixin todo-menu($class-name, $dark-mode: false) {
  .#{$class-name} {
    width: 615px;

    // height: fit-content;
    @include menu-box($dark-mode: $dark-mode);

    &-separator {
      border: 1px solid
        if(
          $dark-mode,
          $dark-theme-very-dark-grayish-blue-light,
          $very-light-grayish-blue
        );
    }

    &-footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px 20px;

      &-center-section {
        display: flex;
        align-items: center;
        gap: 10px;
      }
    }
  }

  @include mobile {
    .#{$class-name} {
      width: 320px;
      position: relative;

      &-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 20px;

        &-center-section {
          position: absolute;

          display: flex;
          justify-content: center;
          align-items: center;

          left: 0px;
          top: 380px;

          width: 320px;
          height: 50px;

          @include menu-box($dark-mode: $dark-mode);
        }
      }
    }
  }
}

@include todo-menu("todo-menu");
@include todo-menu("todo-menu-dark-mode", $dark-mode: true);
