@import "../../style/main.scss";

.todo-menu {
  width: 615px;
  height: fit-content;
  background-color: $white;
  box-shadow: 0px 10px 20px 5px $light-grayish-blue;
  padding-top: 10px;
  border-radius: $border-radius;

  &-separator {
    border: 1px solid $very-light-grayish-blue;
  }

  &-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

    &-center-section {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }
}
