@use "../../style/utils/media";

.todoFilter {
  align-items: center;
  background-color: var(--color-primary-very-light);
  border-radius: 4px;
  display: flex;
  gap: 20px;
  justify-content: center;
  padding: 0;
  width: fit-content;
}

@include media.mobile {
  .todoFilter {
    padding: 20px 0;
    width: 100%;
  }
}
