@import "../../style/main";

.footer {
  position: static;
  display: flex;
  justify-content: center;
  align-items: flex-end;

  font-size: $font-size-small;
  text-align: center;

  & a {
    color: $footer-color;
  }
}
