@import "../../style/main.scss";

@mixin root($class-name, $dark-mode: false) {
  .#{$class-name} {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 96vh;
    background-color: if(
      $dark-mode,
      $dark-theme-very-dark-blue,
      $very-light-gray
    );
  }
}

@include root("root");
@include root("root-dark-mode", $dark-mode: true);
