@use "../../style/components/button";
@use "../../style/components/input";

@mixin todo-input-checkmark {
  position: absolute;
  top: 1px;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  left: 20px;
}

.todoInput {
  position: relative;
  width: 100%;

  .input {
    @include input.primary;

    box-sizing: border-box;
    padding: 20px 20px 20px 50px;
    width: inherit;
  }

  .checkmark {
    @include todo-input-checkmark;
    @include button.checkmark;

    &Active {
      @include todo-input-checkmark;
      @include button.checkmark-clicked;
    }
  }
}
