@import "../../style/main.scss";

@mixin todo-menu-footer-center-section-mobile {
  position: absolute;
  justify-content: center;
  align-items: center;
  left: 0px;
  top: 380px;
  width: 320px;
  height: 50px;
}

.todo-menu-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;

  &-center-section,
  &-center-section-dark-mode {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}

@include mobile {
  .todo-menu-footer-center-section {
    @include todo-menu-style;
    @include todo-menu-footer-center-section-mobile;
  }

  .todo-menu-footer-center-section-dark-mode {
    @include todo-menu-style($dark-mode: true);
    @include todo-menu-footer-center-section-mobile;
  }
}
